* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Helvetica', Arial, sans-serif;
    background: rgb(233, 233, 233);
}

/* config of the header and the menu */

#header {
    background-color: #ffc300;
    padding: 1rem;
    text-align: center;
}

#logo {
    padding: 1rem;
}

#menu {
    padding: 0.5rem;
}

.menu {
    padding: 1.2rem;
    color: #fffdfa;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
}

.menu:hover {
    color: #474747;
}

/* config of the content of the page*/

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main-content {
    display: flex;
    flex-direction: column;
}

.post {
    background: #fffdfa;
    margin-top: 1rem;
    padding: 1.2rem;
    left: 15%;
    width: 40rem;
    text-align: left;
}

.date {
    font-size: 80%;
    color: #aaaaaa;
}

.read-more {
    color: #ffc300;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

img {
    margin: 3% auto;
    width: 40rem;
}

h1 {
    color: #ffc300;
}

#side-content {
    width: 20rem;
}

.side-content {
    background: #fffdfa;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 15rem
}

h3 {
    background-color: #aaaaaa;
    color: #474747;
    padding: 0.2rem 0.4rem;
}